VITE_SUPABASE_URL=https://bwyikyopxeqyfhslczfl.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_9JA_ANALYTICS_ENABLED=true
VITE_9JA_ANALYTICS_TOKEN=
VITE_9JA_PROJECT_ID=
VITE_9JA_ANALYTICS_ENDPOINT=https://api.enter.pro
VITE_9JA_ANALYTICS_DEFINITIONS_ENDPOINT=
VITE_9JA_ANALYTICS_DEBUG=false
